WindowsFormsApp1/Connected Services/DBService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployees" nillable="true" type="tns:ArrayOfEmployees" />
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeesDetails" nillable="true" type="tns:EmployeesDetails" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employees" nillable="true" type="tns:Employees" />
  <xs:complexType name="EmployeesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Departments" nillable="true" type="tns:Departments" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:Employees" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeesDetails" nillable="true" type="tns:EmployeesDetails" />
  <xs:complexType name="Departments">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeesDetails" nillable="true" type="tns:ArrayOfEmployeesDetails" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departments" nillable="true" type="tns:Departments" />
  <xs:complexType name="ArrayOfEmployeesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeesDetails" nillable="true" type="tns:EmployeesDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeesDetails" nillable="true" type="tns:ArrayOfEmployeesDetails" />
  <xs:complexType name="ArrayOfDepartments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departments" nillable="true" type="tns:Departments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartments" nillable="true" type="tns:ArrayOfDepartments" />
</xs:schema>